* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.nav-bar {
    background: lightskyblue;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    padding-left: 20px;
    top: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 999;
}

.nimiboksi {
    background-color: lightskyblue;
    color: rgb(75, 75, 75);
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.25s ease;
}

.nimiboksi:hover {
    background-color: rgb(189, 96, 96);
    color: white;
    border-color: white;
}

.linkit-juttuihin {
    align-items: center;
    justify-content: center;
}

.nimiboksi:hover .profiilikuva {
    border-color: white;
}

.profiilikuva {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(75, 75, 75);
    object-fit: cover;     
    transition: all 0.25s ease;
}

.blaablaa {
    font-size: 8px;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
}

